html{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 410px;
    height: 70%;
    background-color: grey;
    opacity: 70%;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.certificate{
    background-color: black;
    width: 350px;
    height: 380px;
    margin-left: 2.6%;
    margin-right: 2.6%;
    margin-bottom: 1.8%;
    margin-top: 1.8%;
    border-radius: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
    padding-bottom: 1%;
}

.certificate::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}
  
.certificate::-webkit-scrollbar-track{
    border-radius: 10px;
}
  
.certificate::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(148,187,233,1);
}
  
.certificate::-webkit-scrollbar-track-piece:end {
      background: transparent;
      margin-bottom: 10px;
}
  
.certificate::-webkit-scrollbar-track-piece:start {
      background: transparent;
      margin-top: 10px;
}

.certificate h1{
    font-size: 40px;
}

.certificate span{
    font-size: 25px;
}

.desc, .info{
    width: 95%;
    display: inline-flex;
    flex-direction: row;
    border-bottom: solid;
    border-color: rgba(148,187,233,1);
    margin-bottom: 7%;

    align-items: center;
    justify-content: center;
}

.desc div{
    position: relative;
    font-size: 25px;
    height: max-content;
    width: 30%;
    margin: 0;
    overflow-wrap: break-word;
}

.desc span, .info span{
    position: relative;
    height: max-content;
    overflow-wrap: break-word;
    width: 67%;
    padding-left: 3.5%;
}

.info div{
    position: relative;
    height: max-content;
    width: 33%;
    font-size: 25px;
}



.pagination{
    position: fixed;
    max-width: 55%;
    max-height: auto;
    min-height: 5%;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    top: 92%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 410px;
}

.pagination li{
    background:rgba(0,0,0,.5);
    box-shadow: 0px 3px 20px 0px black;
    border: solid;
    border-color: rgba(148,187,233,1);
    list-style-type: none;
    border-radius: 25px;
    margin: 0 6px;
    max-width: auto;
    min-width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
} 

.pages{
    background:rgba(0,0,0,.5);
    border-radius: 25px;
    width: max-content;
    height: max-content;
    box-shadow: 0px 3px 20px 0px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pages li{
    min-width: 32px;
    height: 32px;
    position: relative;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
} 

.pages .selected{
    border-color: rgba(238,174,202,1);
}

.navbar{
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 410px;
    height: max-content;
    background-color: grey;
    opacity: 70%;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
}


.navbar .link{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 0 6px;
    max-width: auto;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 8px;

    font-size: 35px;

    min-width: 390px;
    height: 32px;
    position: relative;
    border-radius: 25px;
    margin: 0.25% 0.6%;

    transition: .2s;
    
}

.navbar .link:last-child, .navbar .link:first-child{
    flex-basis:100px;
    flex-grow:1;
}

.navbar .link:hover{
    color: black;
    background-color: rgba(148,187,233,1);
    cursor: pointer;
}

.form-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.form{
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form div{
    flex-basis:500px;
    flex-grow:1;
}

.inputs{
    position: relative;
    height: 90%;
    min-width: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxes{
    position: relative;
    max-height: 90%;
    min-width: 400px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-items: flex-start;
    justify-content: center;
    flex-basis:500px;
    flex-grow:1;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 0.2px
}

.tags input{
    width: 90%;
    font-size: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
    
}

.tags input::placeholder{
    color: rgb(201, 201, 201);
}


.checkboxes label{
    font-size: 25px;
    margin-right: 5%;
    max-width: max-content;
}

.option{
    display: flex;
    flex-direction: row;
    max-width: min-content;
    align-items: center;
    justify-content: center;
    margin: .5% .5%;
    margin-right: 5%;
}

.checkboxes input{
    width: min-content;
    height: min-content;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    transform: scale(2);
}

.inputs input{
    margin: auto;
    width: 80%;
    font-size: 35px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.input{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inputs label{
    text-align: left;
    width: 80%;
    position: relative;
    top: -35%;
    font-size: 20px;
    color: white;
    pointer-events: none;
    transition: .5s;
}  

.input input:focus ~ label,
.input input:valid ~ label{
    position: relative;
    top: -51%;
    color: rgba(148,187,233,1);
    font-size: 12px;
}

.form-container button{
    position: relative;
    font-size: 35px;
    margin-top: 2%;
    border-radius: 15px;
    border-width: 5px;
    background-color: transparent;
    border: solid;
    border-color: black;
    color: white;
    width: 95%;
    transition: color 0.5s ease-out;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-container button:hover{
    color: black;
    background-color: rgba(148,187,233,1);
    cursor: pointer;
}

.login-container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 410px;
    height: 70%;
    background-color: grey;
    opacity: 70%;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}


.login-container .form-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.login-container .form{
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.login-container .form div{
    flex-basis:500px;
    flex-grow:1;
}

.login-container .inputs{
    position: relative;
    height: 90%;
    min-width: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container .register-inputs{
    position: relative;
    height: 90%;
    min-width: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-container .inputs input{
    margin: auto;
    width: 80%;
    font-size: 35px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.login-container .register-inputs input{
    margin: auto;
    width: 80%;
    font-size: 35px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.login-container .input{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login-container .inputs label{
    text-align: left;
    width: 80%;
    position: relative;
    top: -20%;
    font-size: 20px;
    color: white;
    pointer-events: none;
    transition: .5s;
}  

.login-container .register-inputs label{
    text-align: left;
    width: 80%;
    position: relative;
    top: -38%;
    font-size: 20px;
    color: white;
    pointer-events: none;
    transition: .5s;
}  

.login-container .input input:focus ~ label,
.login-container .input input:valid ~ label{
    position: relative;
    top: -30%;
    color: rgba(148,187,233,1);
    font-size: 12px;
}

.login-container .register-inputs .input input:focus ~ label,
.login-container .register-inputs .input input:valid ~ label{
    position: relative;
    top: -60%;
    color: rgba(148,187,233,1);
    font-size: 12px;
}

.login-container .buttons{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.login-container .form-container .button{
    position: relative;
    font-size: 35px;
    margin-top: 2%;
    border-radius: 15px;
    border-width: 5px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: solid;
    border-color: black;
    color: white;
    min-width: 800px;
    width: 50%;
    transition: color 0.5s ease-out;
    
    flex-basis:100px;
    flex-grow:1;
}

.login-container .form-container .button:hover{
    color: black;
    background-color: rgba(148,187,233,1);
    cursor: pointer;
}

.buy{
    display: flex;
    font-size: 30px;
    border: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: rgba(148,187,233,1);
    background-color: transparent;
    color: white;
    width: 90%;
    transition: color 0.5s ease-out;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buy:hover{
    color: black;
    background-color: rgba(148,187,233,1);
    cursor: pointer;
}

.message{
    font-size: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sucsess{
    z-index: 1;
    font-size: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.certificate input{
    margin-top: 10%;
    text-align: center;
    width: 90%;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(148,187,233,1);
    background: transparent;
}

.certificate label{
    text-align: left;
    width: 90%;
    position: relative;
    top: -67%;
    font-size: 20px;
    color: white;
    pointer-events: none;
    transition: .5s;
}  


.certificate input:focus ~ label,
.certificate input:valid ~ label{
    position: relative;
    top: -70%;
    color: rgba(148,187,233,1);
    font-size: 12px;
}

.tags button{
    width: 80%;
    font-size: 30px;
    margin-bottom: 1%;
}

.certificate .checkboxes {
    position: relative;
    width: 95%;
    min-width: 0;
    min-height: 30%;
    justify-content: center;
    align-items: center;
    
}

.certificate .checkboxes input{
    margin: 0;
    margin-right: 2%;
}

.certificate .checkboxes label{
    font-size: 25px;
    margin-right: 13%;
    pointer-events: all;
    top: 0;
}

.error{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 400px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.error-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.code{
    font-size: 65px;
    width: 50%;
    min-width: max-content;
    height: max-content;
    background-color: black;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;

    
    background-color: grey;
    opacity: 70%;
    border-radius: 35px;
    overflow: auto;
}

.error-info .message{
    display: flex;
    font-size: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 55%;
    background-color: black;

    background-color: grey;
    opacity: 70%;
    border-radius: 35px;
    overflow: auto;
}

.home{
    width: 70%;
    font-size: 35px;

    border-radius: 15px;
    border-width: 5px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: solid;
    border-color: black;
    background-color: grey;
    opacity: 70%;
    color: white;
    transition: color 0.5s ease-out;
}

.home:hover{
    color: black;
    background-color: rgba(148,187,233,1);
    cursor: pointer;
}

@media screen and (max-width: 2550px) {
    .container{
        width: 50%;
    }
    .certificate{
        margin-right: 2.2%;
    }

    .login-container{
        width: 50%;
    }
    

}

@media screen and (max-width: 2490px) {
    .container{
        width: 33%;
    }
    .certificate{
        margin-right: 2.2%;
    }
    
    .form{
        min-height: 150%;
    }

    .inputs{
        height: 50%;
    }

    .form-container button{
        margin-bottom: 2%;
    }

    
    .login-container{
        width: 33%;
    }
    .login-container .inputs{
        height: 50%;
    }

    .login-container .form-container button{
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 2436px) {

    .navbar .link{
        margin: 0.45% 0.6%;
    }

    
    .login-container .buttons .button{    
        min-width: 500px;
    }
}

@media screen and (max-width: 2400px) {
    .container{
        width: 13%;
    }
    .certificate{
        margin-right: 2.2%;
    }

    

    .login-container{
        width: 13%;
    }

    .login-container .buttons .button{    
        min-width: 300px;
    }

    
}

@media screen and (max-width: 2230px) {
    .container{
        width: 36%;
    }


    .login-container{
        width: 36%;
    }

    .login-container .buttons button{  
        margin-bottom: 0%;  
        min-width: 800px;
    }

    .login-container .buttons{  
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 2212px) {
    .container{
        width: 19%;
    }

    .certificate{
        margin-left: 7%;
    }

    .login-container{
        width: 19%;
    }

    .login-container .buttons button{    
        min-width: 300px;
    }
}

@media screen and (max-width: 1906px){
    .container{
        width: 66%;
    }
    
    .certificate{
        margin-left: 2.6%;
        margin-right: 2.2%;
    }
    .form{
        min-height: auto;
    }

    .inputs{
        height: 90%;
    }

    .form-container button{
        margin-bottom: auto;
    }

    .login-container {
        width: 66%;
    }

    .login-container .inputs{
        height: 90%;
    }

    .login-container .form-container button{
        margin-bottom: auto;
    }

    .login-container .buttons button{    
        min-width: 500px;
    }
    
}

@media screen and (max-width: 1886px){
    .container{
        width: 43%;
    }
    
    .form{
        min-height: 150%;
    }

    .inputs{
        height: 50%;
    }

    .form-container button{
        margin-bottom: 2%;
    }

    .certificate{
        margin-left: 3%;
        margin-right: 2.5%;
    }

    .login-container{
        width: 43%;
    }

    
    .login-container .inputs{
        height: 45%;
    }

    .login-container .form-container .button{
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 1872px){
    .container{
        width: 23%;
    }
    
    .certificate{
        margin-left: 7.2%;
        margin-right: 2.5%;
    }

    .login-container{
        width: 23%;
    }

    .login-container .buttons button{    
        min-width: 300px;
    }
}

@media screen and (max-width: 1188px) {
    .navbar{
        top: 8%;
        height: 13%;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

    .navbar .link{
        min-width: 370px;
    }

    .navbar .link:last-child, .navbar .link:first-child{
        flex-grow:0;
    }
}

@media screen and (max-width: 1014px){
    .pagination li{
        height: 30px;
    }
}